<%# Header %>
<h1 class="app-header-h1">
  Crazy Copywriting <br />With Crazy Tony
  <small>This is the subheadline that will define it all</small>
</h1>

<% @program.episodes.each do |episode|%>
  <%= episode.title %>
<% end %>

<%# Intro %>
<div class="app-wrapper">
  <div class="app-container gr-container">
    <div class="app-section-header">The Lowdown</div>
    <div class="gr-row">
      <div class="gr-col-8 gr-col-offset-2">
        <section>
          <section>
            <p class="app-txt-l">When we introduce copywriting to young adults, 99% of them think we are introducing them to the practice of protecting intellectual property - like you would copyright a book or sheet music. We are not. That’s copy(r)ighting, not copywriting.  Copywriting is just words used in marketing.  Copywriting is everywhere - every billboard you see, every marketing piece you come in contact with, and every landing page you visit is filled with copy (even this one!).</p>
            <p class="app-txt-l">If you study copywriting techniques, strategies, and fundamentals, here’s what will change:</p>
            <ul class="app-ul-fa fa-ul app-txt-l">
              <li><i class="app-fa fa-li fa fa-check color-g"></i>Your emails will get more responses</li>
              <li><i class="app-fa fa-li fa fa-check color-g"></i>Your resumes will get more attention</li>
              <li><i class="app-fa fa-li fa fa-check color-g"></i>Your dating profiles will get more dates (if you’re single!)</li>
            </ul>
          </section>
          <h2 class="app-align-c">Here's a brief introduction to copywriting:</h2>
          <section>
            <%== Shortcode.process("[audio id='1' title='Epsidoe #1' file='funnels-take-action-action-based.mp3' color='light']") %>
          </section>
          <p class="app-txt-l">This show breaks down all the ABSOLUTELY TERRIBLE copy in the world and gives you actionable strategies to improve your own lines of communication.</p>
          <p class="app-txt-l app-p-sm"><strong>Benefits of tuning in:</strong></p>
          <ul class="app-ul-fa fa-ul app-txt-l">
            <li><i class="app-fa fa-li fa fa-check color-g"></i>See the world of marketing change right before your eyes</li>
            <li><i class="app-fa fa-li fa fa-check color-g"></i>Learn how to write more effectively than 95% of your peers</li>
            <li><i class="app-fa fa-li fa fa-check color-g"></i>Enhance the way you communicate when speaking, not just writing</li>
          </ul>
        </section>
        
        <%# Optin %>
        <div class="app-optin">
          <h2 class="app-align-c">New Episodes Air <br />The First Tuesday Of Every Month</h2>
          <p class="app-txt-l app-align-c">Next Episode To Be Released <br /><em>Tuesday, August 4th, 2015 at 11:00 AM</em></h2>
          <p class="app-align-c"><strong>Enter your email address here to be reminded.</strong></p>
          <div class="gr-row">
            <div class="app-field gr-col-6">
              <input type="text" class="app-input-l" placeholder="First name only" required />
            </div>
            <div class="app-field gr-col-6">
              <input type="text" class="app-input-l" placeholder="Email address" required data-parsley-type="email" />
            </div>
          </div>
          <input type="submit" value="I'm in!" class="app-btn-l app-btn-w app-btn" />
        </div>
        <p>Have any copy <em>(yours or someone else’s)</em> you’d like to submit for feedback? <a href="mailto:business@thisisworkshop.com">You can send us copy here</a>.</p>
      </div>
    </div>
  </div>
</div>


