<%# Header %>
<div class="app-header app-home-header">
  <h1 class="app-header-h1">Crazy Copywriting With Crazy Tony: You Are Already Writing Copy You Just Don’t Know It!`</h1>
</div>

<%# Intro %>
<div class="app-wrapper">
  <div class="app-container gr-container">
    <div class="app-section-header">The Lowdown</div>
    <section>
      <p>When we introduce copywriting to young adults, 99% of them think we are introducing them to the practice of protecting intellectual property - like you would © a book or sheet music. We are not. That’s copy(r)ighting, not copywriting.  Copywriting is just words used in marketing.  Copywriting is everywhere - every billboard you see, every marketing piece you come in contact with, and every landing page you visit is filled with copy (even this one!).</p>
      <p>If you study copywriting techniques, strategies, and fundamentals, here’s what will change:</p>
      <ul class="app-ul-fa fa-ul">
        <li><i class="app-fa fa fa-check"></i>Your emails will get more responses</li>
        <li><i class="app-fa fa fa-check"></i>Your resumes will get more attention</li>
        <li><i class="app-fa fa fa-check"></i>Your dating profiles will get more dates (if you’re single!)</li>
      </ul>
      <p>Listen here to a brief introduction to copywriting:</p>
      <p>This show breaks down all the ABSOLUTELY TERRIBLE copy in the world and gives you actionable strategies to improve your own lines of communication.</p>
      <p>Benefits of tuning in:</p>
      <ul class="app-ul-fa fa-ul">
        <li><i class="app-fa fa fa-check"></i>See the world of marketing change right before your eyes</li>
        <li><i class="app-fa fa fa-check"></i>Learn how to write more effectively than 95% of your peers</li>
        <li><i class="app-fa fa fa-check"></i>Enhance the way you communicate when speaking, not just writing</li>
      </ul>
    </section>
    
    <%# Optin %>
    <div class="app-optin">
      <p>New Episodes Air The First Tuesday Of Every Month</p>
      <p>Next Episode To Be Released Tuesday, August 4th, 2015 at 11:00 AM</p>
      <p>Enter your email address [here] to be reminded.</p>
      <div class="gr-row">
        <div class="app-field gr-col-6">
          <input type="text" class="app-input-l" placeholder="First name only" required />
        </div>
        <div class="app-field gr-col-6">
          <input type="text" class="app-input-l" placeholder="Email address" required data-parsley-type="email" />
        </div>
      </div>
      <input type="submit" value="I'm in!" class="app-btn-l app-btn-w app-btn" />
    </div>
    <p>Have any copy (yours or someone else’s) you’d like to submit for feedback? You can send us copy here [email address or call to action]</p>
  </div>
</div>