<% @programs.each do |program|%>
  <section class="gr-col-4">
    <%= render "shared/snippet", :thumb => "app-programs-1-thumb.png", :link => dashboard_program_path(program), :title => program.title, :subtitle => "subtitle", :caption => "caption" %>
  </section>
<% end %>