<%# Header %>
<div class="app-header app-home-header">
  <h1 class="app-header-h1">The LIVE 100 Dollar Bill Show: Someone Wins 100 Dollars Every Time!</h1>
</div>

<%# Intro %>
<div class="app-wrapper">
  <div class="app-container gr-container">
    <div class="app-section-header">The Facts</div>
    <section>
      <p>Did you know each of your lectures (including the ones you text-through, fall asleep in, or just plain skip) costs you, on average, around 100 DOLLARS!!!</p>
      <p>Think of the last lecture you attended in college:</p>
      <p>Would you really pay 100 dollars to attend that lecture?</p>
      <p>Think about it this way:</p>
      <p>Would you pay that professor 100 dollars for an hour of their time outside of class!?</p>
      <p>The 100 Bill Show Will Teach You More (and give you more ROI than any single college lecture you’ve ever attended) and it’s FREE.  But signup is required and you can only participate (actively) in ONE of these shows.  Because we give away 100 dollars each time (and the answers of how to win the 100 dollars), it would be too easy to cheat the second time. </p>
      <p>Benefits of tuning in:</p>
      <ul class="app-ul-fa fa-ul">
        <li><i class="app-fa fa fa-check"></i>Discover the most fundamental sales lesson ever</li>
        <li><i class="app-fa fa fa-check"></i>Instantly create more effective sales pitches and offers</li> 
        <li><i class="app-fa fa fa-check"></i>Compete for the chance to win 100 dollars on the spot</li>
      </ul>
    </section>

    <%# Optin %>
    <div class="app-optin">
      <p>New Episodes Air The First Tuesday Of Every Month</p>
      <p>Next Episode To Be Released Tuesday, August 4th, 2015 at 11:00 AM</p>
      <p>Enter your email address [here] to be reminded.</p>
      <div class="gr-row">
        <div class="app-field gr-col-6">
          <input type="text" class="app-input-l" placeholder="First name only" required />
        </div>
        <div class="app-field gr-col-6">
          <input type="text" class="app-input-l" placeholder="Email address" required data-parsley-type="email" />
        </div>
      </div>
      <input type="submit" value="I'm in!" class="app-btn-l app-btn-w app-btn" />
    </div>