<%# Header %>
<div class="app-header app-home-header">
  <h1 class="app-header-h1">The Entrepreneur's Showdown: Forget Ideas! Which Entrepreneurs Will Survive The Trenches?</h1>
</div>

<%# Intro %>
<div class="app-wrapper">
  <div class="app-container gr-container">
    <div class="app-section-header">The Facts</div>
    <section>
      <p>The first week of every month, we match two (relatively inexperienced) aspiring entrepreneurs against each other and watch them compete in the most PRACTICAL entrepreneurial challenges you could never find in a classroom. </p> 
      <p>Winner gets a $500 dollar prize on the spot.</p>
      <p>Benefits of Tuning In:</p>
      <ul class="app-ul-fa fa-ul">
        <li><i class="app-fa fa fa-check"></i>Get Practice Answering Practical Business Questions</li>
        <li><i class="app-fa fa fa-check"></i>Learn How To Build Better Companies From The Ground Up</li>
        <li><i class="app-fa fa fa-check"></i>Study Your Competition More Intimately (There’s Only So Much Funding To Go Around)</li>
      </ul>
    </section>
    
    <%# Optin %>
    <div class="app-optin">
      <p>New Episodes Air The First Tuesday Of Every Month</p>
      <p>Next Episode To Be Released Tuesday, August 4th, 2015 at 11:00 AM</p>
      <p>Enter your email address [here] to be reminded.</p>
      <div class="gr-row">
        <div class="app-field gr-col-6">
          <input type="text" class="app-input-l" placeholder="First name only" required />
        </div>
        <div class="app-field gr-col-6">
          <input type="text" class="app-input-l" placeholder="Email address" required data-parsley-type="email" />
        </div>
      </div>
      <input type="submit" value="I'm in!" class="app-btn-l app-btn-w app-btn" />
    </div>
    Want a shot at the prize money? <a href="">Click here to apply to become a contestant</a>
  </div>
<div>