<%# Header %>
<h1 class="app-header-h1">
  The Entrepreneur's <br />Showdown
  <small>Which Entrepreneurs Will Survive The Trenches?</small>
</h1>

<%# Intro %>
<div class="app-wrapper">
  <div class="app-container gr-container">
    <div class="app-section-header">The Facts</div>
    <div class="gr-row">
      <div class="gr-col-8 gr-col-offset-2">
        <section>
          <section>
            <p class="app-txt-l">The first week of every month, we match two (relatively inexperienced) aspiring entrepreneurs against each other and watch them compete in the most PRACTICAL entrepreneurial challenges you could never find in a classroom. </p> 
            <p class="app-txt-l">Winner gets a $500 dollar prize on the spot.</p>
          </section>
          <h2 class="app-align-c">Here's a brief introduction to the show:</h2>
          <section>
            <%== Shortcode.process("[audio id='1' file='funnels-take-action-action-based.mp3' title='Episode #1 Awesome Sauce' type='bare' color='light']") %>
          </section>
          <p class="app-txt-l app-p-sm"><strong>Benefits of Tuning In:</strong></p>
          <ul class="app-ul-fa fa-ul app-txt-l">
            <li><i class="app-fa fa-li fa fa-check color-g"></i>Get Practice Answering Practical Business Questions</li>
            <li><i class="app-fa fa-li fa fa-check color-g"></i>Learn How To Build Better Companies From The Ground Up</li>
            <li><i class="app-fa fa-li fa fa-check color-g"></i>Study Your Competition More Intimately <em>(There’s Only So Much Funding To Go Around)</em></li>
          </ul>
        </section>
        
        <%# Optin %>
        <div class="app-optin">
          <h2 class="app-align-c">New Episodes Air <br />The First Tuesday Of Every Month</h2>
          <p class="app-txt-l app-align-c">Next Episode To Be Released <br /><em>Tuesday, August 4th, 2015 at 11:00 AM</em></h2>
          <p class="app-align-c"><strong>Enter your email address here to be reminded.</strong></p>
          <div class="gr-row">
            <div class="app-field gr-col-6">
              <input type="text" class="app-input-l" placeholder="First name only" required />
            </div>
            <div class="app-field gr-col-6">
              <input type="text" class="app-input-l" placeholder="Email address" required data-parsley-type="email" />
            </div>
          </div>
          <input type="submit" value="I'm in!" class="app-btn-l app-btn-w app-btn" />
        </div>
        Want a shot at the prize money? <a href="mailto:business@thisisworkshop.com">Click here to apply to become a contestant</a>
      </div>
    </div>
  </div>
<div>