<div class="app-footer">
  <div class="app-footer-copyright"><span class="color-d">&copy;2015 Workshop, by</span> <%= link_to "Jack", misc_jack_path, :class => "app-link" %> <span class="color-d">and</span> <%= link_to "Anthony", misc_anthony_path, :class => "app-link" %></div>
  <a href="https://www.facebook.com/theworkshopschoolofaction" target="_blank" class="app-footer-link" onclick="analytics.track('Footer - Facebook');"><i class="fa fa-facebook"></i></a>
  <a href="https://twitter.com/thisisworkshop" target="_blank" class="app-footer-link" onclick="analytics.track('Footer - Twitter');"><i class="fa fa-twitter"></i></a>
  <%= link_to "Privacy", misc_privacy_path, :class => "app-footer-link app-link" %>
  <%= link_to "Contact", misc_contact_path, :class => "app-footer-link app-link" %>
</div>