<div class="app-nav">
  <a href="#" class="js-nav-back app-nav-back">
    <span class="app-nav-back-text"><i class="fa fa-arrow-left"></i></span>
  </a>
  <a href="#" class="js-nav-trigger app-nav-trigger">
    <span class="js-nav-trigger-text app-nav-trigger-text">Menu</span>
  </a>
  <div class="app-nav-menu">
    <div class="app-nav-menu-items">
      <div class="app-section-header-alt app-section-header">
        <span class="app-section-header-alt-text">The Menu</span>
      </div>
      <a href="#" class="app-nav-menu-items-item">
        <span class="app-nav-menu-items-item-title">About</span>
        <span class="app-nav-menu-items-item-description">Here’s a little bit about the text above and we can describe it like this</span>
      </a>
      <a href="#" class="app-nav-menu-items-item">
        <span class="app-nav-menu-items-item-title">Contact</span>
        <span class="app-nav-menu-items-item-description">Here’s a little bit about the text above and we can describe it like this</span>
      </a>
      <a href="#" class="app-nav-menu-items-item">
        <span class="app-nav-menu-items-item-title">Shows</span>
        <span class="app-nav-menu-items-item-description">Here’s a little bit about the text above and we can describe it like this</span>
      </a>
      <a href="#" class="app-nav-menu-items-item">
        <span class="app-nav-menu-items-item-title">Programs</span>
        <span class="app-nav-menu-items-item-description">Here’s a little bit about the text above and we can describe it like this</span>
      </a>
    </div>
  </div>
</div>