<div class="app-nav">
  <a href="#" class="js-nav-back app-nav-back">
    <span class="app-nav-back-text"><i class="fa fa-arrow-left"></i></span>
  </a>
  <a href="#" class="js-nav-trigger app-nav-trigger">
    <span class="js-nav-trigger-text app-nav-trigger-text">Menu</span>
  </a>
  <div class="app-nav-menu">
    <div class="app-nav-menu-item">
      <a href="#" class="app-nav-menu-item-header">Programs</a>
      <div class="app-nav-menu-item-links">
        <a href="#" class="app-nav-menu-item-links-link">Copywriting</a>
        <a href="#" class="app-nav-menu-item-links-link">Showdown</a>
        <a href="#" class="app-nav-menu-item-links-link">Hundred Dollar</a>
      </div>
    </div>
    <div class="app-nav-menu-item">
      <a href="#" class="app-nav-menu-item-header">Programs</a>
      <div class="app-nav-menu-item-links">
        <a href="#" class="app-nav-menu-item-links-link">Copywriting</a>
        <a href="#" class="app-nav-menu-item-links-link">Showdown</a>
        <a href="#" class="app-nav-menu-item-links-link">Hundred Dollar</a>
      </div>
    </div>
    <div class="app-nav-menu-item">
      <a href="#" class="app-nav-menu-item-header">Programs</a>
      <div class="app-nav-menu-item-links">
        <a href="#" class="app-nav-menu-item-links-link">Copywriting</a>
        <a href="#" class="app-nav-menu-item-links-link">Showdown</a>
        <a href="#" class="app-nav-menu-item-links-link">Hundred Dollar</a>
      </div>
    </div>
  </div>
</div>