/* ----------------------------------------------------
              Imports
 ----------------------------------------------------- */
@import "app-ut";

/* ----------------------------------------------------
            Audio
----------------------------------------------------- */
.app-audio:after { @include ut-clear(); }
.app-audio-buttons { float:left; margin-right:10px; width:45px; height:45px; }
.app-audio-button { position:relative; width:45px; height:45px; color:$color_a; background:$color_g; @include ut-border-radius(100%); cursor:pointer; outline:none; }
.app-audio-button.jp-play .app-audio-button-icon { background:image-url("app-audio-play-s.png"); }
.app-audio-button.jp-pause { display:none; }
.app-audio-button.jp-pause .app-audio-button-icon { background:image-url("app-audio-pause-s.png"); }
.app-audio-button-icon { width:45px; height:45px; }
.app-audio-info { margin-bottom:1em; }
.app-audio-info .app-audio-title { line-height:1.25; }
.app-audio-progress { position:relative; height:50px; border-bottom:2px solid $color_e; }
.app-audio-progress-seek-bar { position:absolute; top:0; left:0; height:47px; background:image-url("app-audio-wavform-2.png"); cursor:pointer; z-index:2; }
.app-audio-progress-play-bar { position:absolute; top:0; left:0; height:47px; background:image-url("app-audio-wavform-3.png"); }
.app-audio-progress-wavform { height:47px; background:image-url("app-audio-wavform-1.png"); z-index:1; }
.app-audio-time { font-size:16px; color:$color_d; }
.app-audio-no-solution { display:none; margin-top:.5em; font-size:16px; color:$color_d; text-align:center; }
.app-audio.app-audio-bare .app-audio-info { display:none; }
.app-audio.app-audio-bare .app-audio-title { display:none; }
.app-audio.app-audio-bare .app-audio-time { text-align:center; }
.app-audio.app-audio-bare .app-audio-buttons { float:none; margin:0 auto 18px auto; width:80px; height:80px; }
.app-audio.app-audio-bare .app-audio-button { width:80px; height:80px; }
.app-audio.app-audio-bare .app-audio-button-icon { width:80px; height:80px; }
.app-audio.app-audio-bare .app-audio-button.jp-play .app-audio-button-icon { background:image-url("app-audio-play-l.png"); }
.app-audio.app-audio-bare .app-audio-button.jp-pause .app-audio-button-icon { background:image-url("app-audio-pause-l.png"); }
.app-audio.app-audio-bare.app-audio-size-xl .app-audio-button.jp-play .app-audio-button-icon { background:image-url("app-audio-play-xl.png"); }
.app-audio.app-audio-bare.app-audio-size-xl .app-audio-button.jp-pause .app-audio-button-icon { background:image-url("app-audio-pause-xl.png"); }
.app-audio.app-audio-bare.app-audio-size-xl .app-audio-buttons { width:250px; height:250px; }
.app-audio.app-audio-bare.app-audio-size-xl .app-audio-button { width:250px; height:250px; }
.app-audio.app-audio-bare.app-audio-size-xl .app-audio-button-icon { width:250px; height:250px; }