/* ----------------------------------------------------
            Fonts / Busy Icons
----------------------------------------------------- */
@font-face { font-family:'busy-icons';
	src:font-url('busy-icons.eot?-m0ar8u');
	src:font-url('busy-icons.eot?#iefix-m0ar8u') format('embedded-opentype'),
		font-url('busy-icons.woff?-m0ar8u') format('woff'),
		font-url('busy-icons.ttf?-m0ar8u') format('truetype'),
		font-url('busy-icons.svg?-m0ar8u#busy-icons') format('svg');
	font-weight:normal;
	font-style:normal; }

/* ----------------------------------------------------
            Fonts / Busy Icons
----------------------------------------------------- */
.illus { font-family:'busy-icons'; speak:none; font-style:normal; font-weight:normal; font-variant:normal; text-transform:none; line-height:1;  -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; }
.illus-dollar:before { content: "\e600"; }
.illus-euro:before { content: "\e601"; }
.illus-pound:before { content: "\e602"; }
.illus-yen:before { content: "\e603"; }
.illus-ruble:before { content: "\e604"; }
.illus-currencies:before { content: "\e605"; }
.illus-money:before { content: "\e606"; }
.illus-money2:before { content: "\e607"; }
.illus-money3:before { content: "\e608"; }
.illus-money4:before { content: "\e609"; }
.illus-money5:before { content: "\e60a"; }
.illus-money6:before { content: "\e60b"; }
.illus-ingots:before { content: "\e60c"; }
.illus-credit-card:before { content: "\e60d"; }
.illus-atm-cash:before { content: "\e60e"; }
.illus-wallet:before { content: "\e60f"; }
.illus-exchange:before { content: "\e610"; }
.illus-percent:before { content: "\e611"; }
.illus-bank:before { content: "\e612"; }
.illus-bank2:before { content: "\e613"; }
.illus-money-growth:before { content: "\e614"; }
.illus-money-scales:before { content: "\e615"; }
.illus-piggy-bank:before { content: "\e616"; }
.illus-safe:before { content: "\e617"; }
.illus-diamond:before { content: "\e618"; }
.illus-cloud-coins:before { content: "\e619"; }
.illus-periscopemoney:before { content: "\e61a"; }
.illus-magnet-money:before { content: "\e61b"; }
.illus-plant-money:before { content: "\e61c"; }
.illus-nest-money:before { content: "\e61d"; }
.illus-funnel-money:before { content: "\e61e"; }
.illus-hand-money:before { content: "\e61f"; }
.illus-hand-money2:before { content: "\e620"; }
.illus-hand-globe:before { content: "\e621"; }
.illus-hand-key:before { content: "\e622"; }
.illus-handshake:before { content: "\e623"; }
.illus-champagne:before { content: "\e624"; }
.illus-pen:before { content: "\e625"; }
.illus-stamp:before { content: "\e626"; }
.illus-key:before { content: "\e627"; }
.illus-chess-rook:before { content: "\e628"; }
.illus-chess:before { content: "\e629"; }
.illus-chess-knight:before { content: "\e62a"; }
.illus-aim:before { content: "\e62b"; }
.illus-target:before { content: "\e62c"; }
.illus-telescope:before { content: "\e62d"; }
.illus-binoculars:before { content: "\e62e"; }
.illus-fish:before { content: "\e62f"; }
.illus-umbrella:before { content: "\e630"; }
.illus-puzzle:before { content: "\e631"; }
.illus-steering-wheel:before { content: "\e632"; }
.illus-bonsai:before { content: "\e633"; }
.illus-strategy1:before { content: "\e634"; }
.illus-strategy2:before { content: "\e635"; }
.illus-yinyang:before { content: "\e636"; }
.illus-scales:before { content: "\e637"; }
.illus-apple:before { content: "\e638"; }
.illus-funnel:before { content: "\e639"; }
.illus-rocket:before { content: "\e63a"; }
.illus-rocket2:before { content: "\e63b"; }
.illus-exit:before { content: "\e63c"; }
.illus-lightbulb:before { content: "\e63d"; }
.illus-lightbulb-green:before { content: "\e63e"; }
.illus-lightning:before { content: "\e63f"; }
.illus-chemistry:before { content: "\e640"; }
.illus-plant:before { content: "\e641"; }
.illus-egg:before { content: "\e642"; }
.illus-recycle:before { content: "\e643"; }
.illus-fire:before { content: "\e644"; }
.illus-gears1:before { content: "\e645"; }
.illus-gears2:before { content: "\e646"; }
.illus-tools:before { content: "\e647"; }
.illus-tools2:before { content: "\e648"; }
.illus-wrench:before { content: "\e649"; }
.illus-gauge:before { content: "\e64a"; }
.illus-gauge2:before { content: "\e64b"; }
.illus-satellite-dish:before { content: "\e64c"; }
.illus-megaphone:before { content: "\e64d"; }
.illus-speech-bubble:before { content: "\e64e"; }
.illus-chat:before { content: "\e64f"; }
.illus-phone:before { content: "\e650"; }
.illus-fax:before { content: "\e651"; }
.illus-printer:before { content: "\e652"; }
.illus-calculator1:before { content: "\e653"; }
.illus-calculator2:before { content: "\e654"; }
.illus-calculator3:before { content: "\e655"; }
.illus-keyboard:before { content: "\e656"; }
.illus-mouse:before { content: "\e657"; }
.illus-lamp:before { content: "\e658"; }
.illus-briefcase:before { content: "\e659"; }
.illus-office-chair:before { content: "\e65a"; }
.illus-pencil:before { content: "\e65b"; }
.illus-pen2:before { content: "\e65c"; }
.illus-quill:before { content: "\e65d"; }
.illus-ruler-compasses:before { content: "\e65e"; }
.illus-magnifying-glass:before { content: "\e65f"; }
.illus-paper-plane:before { content: "\e660"; }
.illus-paper-clip:before { content: "\e661"; }
.illus-pin:before { content: "\e662"; }
.illus-coffee:before { content: "\e663"; }
.illus-scissors:before { content: "\e664"; }
.illus-note-paper:before { content: "\e665"; }
.illus-pens-pencils:before { content: "\e666"; }
.illus-trash-bin:before { content: "\e667"; }
.illus-abacus:before { content: "\e668"; }
.illus-folders:before { content: "\e669"; }
.illus-outgoing:before { content: "\e66a"; }
.illus-incoming:before { content: "\e66b"; }
.illus-box:before { content: "\e66c"; }
.illus-drawer:before { content: "\e66d"; }
.illus-folder:before { content: "\e66e"; }
.illus-folder-add:before { content: "\e66f"; }
.illus-folder-remove:before { content: "\e670"; }
.illus-folder-delete:before { content: "\e671"; }
.illus-folder-private:before { content: "\e672"; }
.illus-contact-book:before { content: "\e673"; }
.illus-address-book:before { content: "\e674"; }
.illus-address-book2:before { content: "\e675"; }
.illus-book-apple:before { content: "\e676"; }
.illus-bookmark:before { content: "\e677"; }
.illus-book:before { content: "\e678"; }
.illus-send:before { content: "\e679"; }
.illus-envelopes:before { content: "\e67a"; }
.illus-envelope-money:before { content: "\e67b"; }
.illus-newspaper:before { content: "\e67c"; }
.illus-newspaper-jobs:before { content: "\e67d"; }
.illus-newspaper-pen:before { content: "\e67e"; }
.illus-file01:before { content: "\e67f"; }
.illus-file02:before { content: "\e680"; }
.illus-file03:before { content: "\e681"; }
.illus-file04:before { content: "\e682"; }
.illus-file05:before { content: "\e683"; }
.illus-file06:before { content: "\e684"; }
.illus-file07:before { content: "\e685"; }
.illus-file08:before { content: "\e686"; }
.illus-file09:before { content: "\e687"; }
.illus-file10:before { content: "\e688"; }
.illus-files:before { content: "\e689"; }
.illus-checklist:before { content: "\e68a"; }
.illus-checklist2:before { content: "\e68b"; }
.illus-checklist3:before { content: "\e68c"; }
.illus-calendar1:before { content: "\e68d"; }
.illus-calendar2:before { content: "\e68e"; }
.illus-calendar3:before { content: "\e68f"; }
.illus-calendar4:before { content: "\e690"; }
.illus-calendar5:before { content: "\e691"; }
.illus-clock:before { content: "\e692"; }
.illus-alarm:before { content: "\e693"; }
.illus-hourglass:before { content: "\e694"; }
.illus-bell:before { content: "\e695"; }
.illus-bomb:before { content: "\e696"; }
.illus-award1:before { content: "\e697"; }
.illus-award2:before { content: "\e698"; }
.illus-award3:before { content: "\e699"; }
.illus-crown:before { content: "\e69a"; }
.illus-certificate:before { content: "\e69b"; }
.illus-shield:before { content: "\e69c"; }
.illus-emblem:before { content: "\e69d"; }
.illus-award4:before { content: "\e69e"; }
.illus-award5:before { content: "\e69f"; }
.illus-flag:before { content: "\e6a0"; }
.illus-star:before { content: "\e6a1"; }
.illus-like:before { content: "\e6a2"; }
.illus-lock:before { content: "\e6a3"; }
.illus-key2:before { content: "\e6a4"; }
.illus-buildings:before { content: "\e6a5"; }
.illus-sale-sign:before { content: "\e6a6"; }
.illus-headquarters:before { content: "\e6a7"; }
.illus-factory:before { content: "\e6a8"; }
.illus-globe:before { content: "\e6a9"; }
.illus-globe2:before { content: "\e6aa"; }
.illus-globe-money:before { content: "\e6ab"; }
.illus-open-sign:before { content: "\e6ac"; }
.illus-closed-sign:before { content: "\e6ad"; }
.illus-sign:before { content: "\e6ae"; }
.illus-buy-sign:before { content: "\e6af"; }
.illus-coupon:before { content: "\e6b0"; }
.illus-label:before { content: "\e6b1"; }
.illus-delivery:before { content: "\e6b2"; }
.illus-hours:before { content: "\e6b3"; }
.illus-support-person:before { content: "\e6b4"; }
.illus-shopping-cart:before { content: "\e6b5"; }
.illus-arrows-updown:before { content: "\e6b6"; }
.illus-arrow-left:before { content: "\e6b7"; }
.illus-arrow-right:before { content: "\e6b8"; }
.illus-chart01:before { content: "\e6b9"; }
.illus-chart02:before { content: "\e6ba"; }
.illus-chart03:before { content: "\e6bb"; }
.illus-chart04:before { content: "\e6bc"; }
.illus-chart05:before { content: "\e6bd"; }
.illus-chart06:before { content: "\e6be"; }
.illus-chart07:before { content: "\e6bf"; }
.illus-pie-chart01:before { content: "\e6c0"; }
.illus-pie-chart02:before { content: "\e6c1"; }
.illus-chart-pyramid:before { content: "\e6c2"; }
.illus-chart-analysis:before { content: "\e6c3"; }
.illus-chart08:before { content: "\e6c4"; }
.illus-pulse:before { content: "\e6c5"; }
.illus-chart-board:before { content: "\e6c6"; }
.illus-strategy03:before { content: "\e6c7"; }
.illus-diagram-hierarchy:before { content: "\e6c8"; }
.illus-venn-diagram:before { content: "\e6c9"; }
.illus-chart09:before { content: "\e6ca"; }
.illus-chart10:before { content: "\e6cb"; }
.illus-chart11:before { content: "\e6cc"; }
.illus-chart12:before { content: "\e6cd"; }
.illus-chart13:before { content: "\e6ce"; }
.illus-chart14:before { content: "\e6cf"; }
.illus-chart15:before { content: "\e6d0"; }
.illus-chart16:before { content: "\e6d1"; }
.illus-chart17:before { content: "\e6d2"; }
.illus-chart18:before { content: "\e6d3"; }
.illus-chart19:before { content: "\e6d4"; }
.illus-chart20:before { content: "\e6d5"; }
.illus-chart21:before { content: "\e6d6"; }
.illus-database:before { content: "\e6d7"; }
.illus-cloud-down:before { content: "\e6d8"; }
.illus-cloud-up:before { content: "\e6d9"; }
.illus-folder-online:before { content: "\e6da"; }
.illus-security:before { content: "\e6db"; }
.illus-laptop:before { content: "\e6dc"; }
.illus-monitor:before { content: "\e6dd"; }
.illus-tablet:before { content: "\e6de"; }
.illus-smartphone:before { content: "\e6df"; }
.illus-laptop-envelope:before { content: "\e6e0"; }
.illus-laptop-chart:before { content: "\e6e1"; }
.illus-laptop-user:before { content: "\e6e2"; }
.illus-laptop-diagram:before { content: "\e6e3"; }
.illus-laptop-article:before { content: "\e6e4"; }
.illus-laptop-chart2:before { content: "\e6e5"; }
.illus-laptop-finance:before { content: "\e6e6"; }
.illus-laptop-settings:before { content: "\e6e7"; }
.illus-laptop-cart:before { content: "\e6e8"; }
.illus-laptop-privacy:before { content: "\e6e9"; }
.illus-tablet-pie-chart:before { content: "\e6ea"; }
.illus-tablet-chart:before { content: "\e6eb"; }
.illus-tablet-chart2:before { content: "\e6ec"; }
.illus-tablet-chart3:before { content: "\e6ed"; }
.illus-tablet-pie-chart2:before { content: "\e6ee"; }
.illus-tablet-article:before { content: "\e6ef"; }
.illus-smartphone-gears:before { content: "\e6f0"; }
.illus-smartphone-exclamation:before { content: "\e6f1"; }
.illus-smartphone-growth:before { content: "\e6f2"; }
.illus-smartphone-chart:before { content: "\e6f3"; }
.illus-smartphone-user:before { content: "\e6f4"; }
.illus-smartphone-money:before { content: "\e6f5"; }
.illus-browser01:before { content: "\e6f6"; }
.illus-browser02:before { content: "\e6f7"; }
.illus-profile:before { content: "\e6f8"; }
.illus-badge01:before { content: "\e6f9"; }
.illus-badge02:before { content: "\e6fa"; }
.illus-person-puzzle:before { content: "\e6fb"; }
.illus-person-time:before { content: "\e6fc"; }
.illus-person-globe:before { content: "\e6fd"; }
.illus-person-data:before { content: "\e6fe"; }
.illus-person-info:before { content: "\e6ff"; }
.illus-person-finance:before { content: "\e700"; }
.illus-person-dollar:before { content: "\e701"; }
.illus-person-checkmark:before { content: "\e702"; }
.illus-person-cross:before { content: "\e703"; }
.illus-person-arrows01:before { content: "\e704"; }
.illus-person-arrows02:before { content: "\e705"; }
.illus-person-flag:before { content: "\e706"; }
.illus-person-umbrella:before { content: "\e707"; }
.illus-meditation:before { content: "\e708"; }
.illus-preson-chart02:before { content: "\e709"; }
.illus-preson-chart03:before { content: "\e70a"; }
.illus-preson-chart04:before { content: "\e70b"; }
.illus-preson-stairs:before { content: "\e70c"; }
.illus-preson-megaphone:before { content: "\e70d"; }
.illus-preson-laurels:before { content: "\e70e"; }
.illus-people-handshake:before { content: "\e70f"; }
.illus-people-idea:before { content: "\e710"; }
.illus-people-meeting:before { content: "\e711"; }
.illus-people-meeting02:before { content: "\e712"; }
.illus-team:before { content: "\e713"; }
.illus-conference:before { content: "\e714"; }
.illus-presentation:before { content: "\e715"; }
.illus-presentation02:before { content: "\e716"; }
.illus-speaker:before { content: "\e717"; }
.illus-speaker02:before { content: "\e718"; }
.illus-person-idea02:before { content: "\e719"; }
.illus-people-gears:before { content: "\e71a"; }
.illus-person-scales:before { content: "\e71b"; }
.illus-person-arrows012:before { content: "\e71c"; }
.illus-person-arrows022:before { content: "\e71d"; }
.illus-person-arrows03:before { content: "\e71e"; }
.illus-people-structure:before { content: "\e71f"; }
.illus-people-search01:before { content: "\e720"; }
.illus-people-search02:before { content: "\e721"; }
.illus-people-arrows06:before { content: "\e722"; }
.illus-people-structure01:before { content: "\e723"; }
.illus-people-structure02:before { content: "\e724"; }
.illus-people-structure03:before { content: "\e725"; }
.illus-people-structure04:before { content: "\e726"; }
.illus-people-structure05:before { content: "\e727"; }
.illus-people-structure06:before { content: "\e728"; }
.illus-people-structure07:before { content: "\e729"; }
.illus-user01:before { content: "\e72a"; }
.illus-users:before { content: "\e72b"; }
.illus-user02:before { content: "\e72c"; }
.illus-user03:before { content: "\e72d"; }
.illus-user04:before { content: "\e72e"; }
.illus-user05:before { content: "\e72f"; }
.illus-user06:before { content: "\e730"; }
.illus-user07:before { content: "\e731"; }
.illus-user08:before { content: "\e732"; }
.illus-user09:before { content: "\e733"; }
.illus-manager01:before { content: "\e734"; }
.illus-manager02:before { content: "\e735"; }
.illus-manager-idea:before { content: "\e736"; }
.illus-manager-globe:before { content: "\e737"; }
.illus-head:before { content: "\e738"; }
.illus-head-check:before { content: "\e739"; }
.illus-head-gears:before { content: "\e73a"; }
.illus-head-structure:before { content: "\e73b"; }
.illus-head-flash:before { content: "\e73c"; }
.illus-head-gauge:before { content: "\e73d"; }
.illus-head-battery:before { content: "\e73e"; }
.illus-head-arrows:before { content: "\e73f"; }
.illus-head-dollar:before { content: "\e740"; }
.illus-head-hourglass:before { content: "\e741"; }
.illus-head-compass:before { content: "\e742"; }
.illus-head-question:before { content: "\e743"; }
.illus-head-exclamation:before { content: "\e744"; }
.illus-head-idea:before { content: "\e745"; }
.illus-graduation-hat:before { content: "\e746"; }
.illus-brain:before { content: "\e747"; }
.illus-character01:before { content: "\e748"; }
.illus-character02:before { content: "\e749"; }
.illus-character03:before { content: "\e74a"; }
.illus-character04:before { content: "\e74b"; }
.illus-character05:before { content: "\e74c"; }
.illus-character06:before { content: "\e74d"; }
.illus-character07:before { content: "\e74e"; }
.illus-character08:before { content: "\e74f"; }
.illus-hat:before { content: "\e750"; }
.illus-hat-moustache:before { content: "\e751"; }
.illus-glasses-moustache:before { content: "\e752"; }
.illus-tie:before { content: "\e753"; }