/* ----------------------------------------------------
              Imports
 ----------------------------------------------------- */
@import "app-ut";

/* ----------------------------------------------------
            Global
----------------------------------------------------- */
body { margin:0; padding:0; text-rendering:optimizeLegibility; }
* { @include ut-box-sizing(border-box); }
*:before, *:after { @include ut-box-sizing(border-box); }

/* ----------------------------------------------------
            Text and Image
----------------------------------------------------- */
body a { text-decoration:none; outline:none; outline:0; outline:none; }
body a:hover { text-decoration:underline; }
body ul { margin:0; padding:0; list-style:none; }
body ol { margin:0; padding:0; }
body table, 
body table td, 
body table th { border-collapse:collapse; padding:0; }
body img { border:none; max-width:100%; -ms-interpolation-mode:bicubic; }
body iframe { display:block; border:none; }

/* ----------------------------------------------------
            Inputs
----------------------------------------------------- */
body input,
body textarea { font-family:inherit; font-style:inherit; font-size:inherit; }
body input[type=text],
body input[type=input],
body input[type=submit],
body input[type=email],
body input[type=password],
body input[type=tel],
body textarea,
body button { -webkit-appearance:none; }
body textarea { line-height:inherit; }
body input:focus,
body textarea:focus { outline:none; }
body input[type=radio] { margin:0; padding:0; border:none; }
body input[type=checkbox] { margin:0; padding:0; border:none; }
body input[type="button"] { margin:0; }
body input[type="submit"] { margin:0; }
body button { font-family:inherit; cursor:pointer; }

/* ----------------------------------------------------
            HTML5
----------------------------------------------------- */
body header, 
body nav, 
body section, 
body article, 
body aside, 
body footer, 
body hgroup { display:block; }