/* ----------------------------------------------------
            Colors
----------------------------------------------------- */
$color_danger: #ff6600;
$color_danger: #999999;
.color-danger { color:$color_danger; }
.color-hint { color:$color_danger; }

/* ----------------------------------------------------
            Fonts
----------------------------------------------------- */
$font_a: "proxima-nova", sans-serif;
$font_b: "proxima-nova-condensed", sans-serif;

/* ----------------------------------------------------
             UT
----------------------------------------------------- */
@mixin ut-clear { content:""; display:block; clear:both; height:0; visibility:hidden; }
@mixin ut-border-radius($value) { -moz-border-radius:$value; -webkit-border-radius:$value; border-radius:$value; }
@mixin ut-box-sizing($value) { -moz-box-sizing:$value; -webkit-box-sizing:$value; box-sizing:$value; }
@mixin ut-box-shadow($values) { -moz-box-shadow:$values; -webkit-box-shadow:$values; box-shadow:$values; }
@mixin ut-text-shadow($values) { -moz-text-shadow:$values; -webkit-text-shadow:$values; text-shadow:$values; }
@mixin ut-rotate ($rotation) { -moz-transform:rotate($rotation); -webkit-transform:rotate($rotation); -ms-transform:rotate($rotation); transform:rotate($rotation); }
@mixin ut-opacity ($value) { -moz-opacity:$value/100; -webkit-opacity:$value/100; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity="$value")"; opacity:$value/100; }
@mixin ut-transition ($values) { -webkit-transition:$values; -moz-transition:$values; -o-transition:$values; transition:$values; }
@mixin ut-user-select ($value) { -webkit-user-select:$value; -moz-user-select:$value; -ms-user-select:$value; user-select:$value; }


