/* ----------------------------------------------------
              Imports
 ----------------------------------------------------- */
@import "app-ut";

/* ----------------------------------------------------
           Logo
----------------------------------------------------- */
.app-logo { display:block; margin:0 auto; padding:30px 0; width:100px; }

/* ----------------------------------------------------
              Header
 ----------------------------------------------------- */
.app-header-h1 { margin:0; padding:5% 0; }
.app-header-h1-text { margin:0; padding:10px 20px; -moz-box-decoration-break:clone; -webkit-box-decoration-break:clone; }
.app-header-h1-mast { padding:5% 0 15% 0; }
.app-subheader { margin:0 0 20px 0; font-size:36px; line-height:130%; font-weight:bold; text-align:center; }
.app-subheader-text { margin:0; padding:10px 20px; -moz-box-decoration-break:clone; -webkit-box-decoration-break:clone; }
.app-subheader + .app-header-h1 { padding:3% 0 5%; }

/* ----------------------------------------------------
              Grid
 ----------------------------------------------------- */
.app-grid-thumb img { display:block; margin-bottom:15px; }
.app-grid-thumb .app-grid-thumb-title { margin:0; }
.app-grid-thumb .app-grid-thumb-title a { color:$color_a; }
.app-grid-thumb .app-grid-thumb-subtitle { margin-bottom:10px; color:$color_d; }

/* ----------------------------------------------------
              Home
 ----------------------------------------------------- */
.app-controller-home { background:image-url("app-home-bg.jpg"); background-attachment:fixed; } 
.app-controller-home a { color:$color_g; }
.app-controller-home .app-header-h1-text { background:$color_g; color:$color_a; }

/* ----------------------------------------------------
              Home
 ----------------------------------------------------- */
.app-controller-programs-copywriting { background:image-url("app-programs-copywriting-bg.jpg"); background-attachment:fixed; } 
.app-controller-programs-copywriting a { color:$color_g; }
.app-controller-programs-copywriting .app-header-h1-text { background:$color_g; color:$color_a; }
.app-controller-programs-onehundred { background:image-url("app-home-bg.jpg"); background-attachment:fixed; } 
.app-controller-programs-onehundred a { color:$color_g; }
.app-controller-programs-onehundred .app-header-h1-text { background:$color_g; color:$color_a; }
.app-controller-programs-showdown { background:image-url("app-home-bg.jpg"); background-attachment:fixed; } 
.app-controller-programs-showdown a { color:$color_g; }
.app-controller-programs-showdown .app-header-h1-text { background:$color_g; color:$color_a; }







.app-section-header-alt-text { color:$color_a; background:$color_g; }
.app-subheader-text { color:$color_a; background:$color_g; }

