/* ----------------------------------------------------
              Imports
 ----------------------------------------------------- */
@import "app-ut";

/* ----------------------------------------------------
          Body
----------------------------------------------------- */
body { color:#222222; font-size:16px; line-height:1.5; font-family:$font_a;  }
body.js-fixed { overflow:hidden; }
a { color:$color_g; }

/* ----------------------------------------------------
           Sections
----------------------------------------------------- */
.app section { margin-bottom:40px; }
.app section.app-section-l { margin-bottom:80px; }
.app section.app-section-m { margin-bottom:20px; }
.app section.app-section-s { margin-bottom:10px; }
.app section.app-section-t { margin-bottom:5px; }
.app section.app-section-pxl { margin-bottom:18%; }
.app section.app-section-pl { margin-bottom:13%; }
.app section.app-section-pm { margin-bottom:10%; }
.app section.app-section-ps { margin-bottom:7%; }
.app section.app-section-divided { border-bottom:1px solid; }
.app section.app-section-divided.app-section-pxl { margin-bottom:18%; padding-bottom:18%; }
.app section.app-section-divided.app-section-pl { margin-bottom:13%; padding-bottom:13%; }
.app section.app-section-divided.app-section-pm { margin-bottom:10%; padding-bottom:10%; }
.app section.app-section-divided.app-section-s { margin-bottom:7%; padding-bottom:7%; }
.app section.app-section-last { margin-bottom:0; border-bottom:none; }

/* ----------------------------------------------------
           Wrappers
----------------------------------------------------- */
.app-wrapper { position:relative; padding:7% 0; background:white; z-index:1; }
.app-wrapper:before { content:''; position:absolute; left:0; top:-25px; overflow:visible; width:100%; height:50px; background:$color_a; @include ut-transform(skewY(-1.5deg)); z-index:-1; }
.app-wrapper-dark { background:#222222; color:white; }
.app-wrapper-dark:before { background:$color_f; }

/* ----------------------------------------------------
            Headers
----------------------------------------------------- */
.app h1 { margin:0 0 40px 0; font-family:$font_b; font-size:64px; line-height:130%; text-align:center; }
.app h1.app-h-lm { margin:0 0 80px 0; }
.app h1.app-h-sm { margin:0 0 20px 0; }
.app h2 { margin:0 0 20px 0; font-size:36px; line-height:130%; }
.app h2.app-h-lm { margin:0 0 40px 0; }
.app h2.app-h-sm { margin:0 0 10px 0; }
.app h3 { margin:0 0 10px 0; font-size:26px; line-height:130%; }
.app h3.app-h-lm { margin:0 0 20px 0; }
.app h3.app-h-sm { margin:0 0 5px 0; }
.app h4 { margin:0 0 10px 0; font-weight:bold; }
.app .app-h-nm { margin:0; }
.app .app-h-nb { font-weight:normal; }
.app-section-header { margin-bottom:20px; font-size:36px; line-height:1; text-align:center; font-weight:bold; text-transform:uppercase; color:$color_g; }
.app-section-header-alt { margin-bottom:60px; }
.app-section-header-alt-text { display:inline-block; padding:10px; color:$color_a; background:$color_g; @include ut-rotate(-5deg); }

/* ----------------------------------------------------
            Text
----------------------------------------------------- */
.app label { display:block; margin-bottom:5px; cursor:pointer; }
.app p { margin:0 0 20px 0; }
.app p:last-child { margin:0; }
.app p.app-p-sm { margin-bottom:10px; }
.app-txt-l { font-size:24px; }
.app-blockquote { margin-bottom:30px; padding-left:30px; border-left:1px dotted; }

/* ----------------------------------------------------
            Inputs
----------------------------------------------------- */
.app input[type='text'],
.app input[type='email'],
.app input[type='input'],
.app input[type='password'],
.app input[type='number'],
.app input[type='url'],
.app input[type='tel'],
.app textarea { display:block; margin:0; font-size:inherit; padding:10px; width:100%; border:1px solid $color_c; line-height:normal; @include ut-box-sizing(border-box); outline:none; }
.app textarea { line-height:inherit; }
.app input[type='text']:focus,
.app input[type='email']:focus,
.app input[type='input']:focus,
.app input[type='password']:focus,
.app input[type='number']:focus,
.app input[type='url']:focus,
.app input[type='tel']:focus,
.app textarea:focus { border-color:$color_e; }
.app input[type='text'].parsley-error,
.app input[type='email'].parsley-error,
.app input[type='input'].parsley-error,
.app input[type='password'].parsley-error,
.app input[type='number'].parsley-error,
.app input[type='url'].parsley-error,
.app input[type='tel'].parsley-error,
.app textarea.parsley-error { border-color:$color_f; }
.app input[type='submit'] { white-space:normal; line-height:inherit; }
.app input.app-input-l { padding:15px; font-size:20px; }
.app select { display:block; margin:0; padding:0; width:100%; }
.app select.date,
.app select.time { display:inline-block; width:auto; }
.app-input-hint { margin-top:7px; font-size:14px; color:$color_d; }
.app-input-error { margin-top:7px; font-size:14px; color:$color_g; }
.app-field { margin-bottom:20px; }
.app-field abbr[title="required"] { display:none; }
.app-field-inline { display:inline-block; }
.app-field-toggles:after { @include ut-clear(); }
.app-field-toggles .app-field-toggle { float:left; margin-right:20px; }
.app-field-toggle input[type=checkbox],
.app-field-toggle input[type=radio] { margin-right:5px; }
.app-field-toggle label { display:inline-block; }
.app-field-controls:after { @include ut-clear(); }
.app-field-controls .checkbox input { margin-right:5px; }
.app-field-controls .radio input { margin-right:5px; }
.parsley-errors-list { margin-top:7px; font-size:14px; color:$color_g; }

/* ----------------------------------------------------
           Lists
----------------------------------------------------- */
.app-ul { margin:0 0 18px 18px; padding-left:18px; list-style:square; }
.app-ul-fa.fa-ul { margin-bottom:20px; }
.app-ol { margin:0 0 18px 18px; padding-left:18px; }

/* ----------------------------------------------------
           Thumb
----------------------------------------------------- */
.app-thumb { display:block; padding:2px; background:$color_e; vertical-align:top; }
.app-thumb:hover { background:$color_a; }
.app-thumb-light { background:$color_c; }
.app-thumb-light:hover { background:$color_f; }

/* ----------------------------------------------------
              Grid
 ----------------------------------------------------- */
.app-snippet .app-snippet-thumb { display:block; margin-bottom:15px; }
.app-snippet .app-snippet-thumb img { display:block; padding:2px; background:$color_e; vertical-align:top; }
.app-snippet:hover .app-snippet-thumb img { background:$color_a; }
.app-snippet .app-snippet-title { margin:0; }
.app-snippet .app-snippet-title a { color:inherit; }
.app-snippet .app-snippet-subtitle { margin-bottom:10px; color:$color_d; }
.app-snippet-light img { background:$color_c; }
.app-snippet-light:hover img { background:$color_f; }

/* ----------------------------------------------------
            Button
----------------------------------------------------- */
.app-btn { display:inline-block; margin:0; padding:10px 15px; text-align:center; font-size:12px; line-height:1; border:none; border-bottom:4px solid rgba(255,255,255,.2); background:#222222; outline:none; @include ut-border-radius(5px); color:white; cursor:pointer; }
.app-btn:hover { text-decoration:none; background:#111111; }
.app-btn:disabled { background:#333333; }
.app-btn-xl { padding:30px 40px; font-size:18px; @include ut-border-radius(40px); }
.app-btn-l { padding:20px 40px; font-size:18px; @include ut-border-radius(40px); }
.app-btn-s { padding:10px 15px; font-size:12px; @include ut-border-radius(5px); border-bottom-width:3px; }
.app-btn-w { display:block; width:100%; }
.app-btn-delete { background:#ff6600; }
.app-btn-success { background:green; }
.app-btn-outline { border:2px solid; background:none; }

/* ----------------------------------------------------
            Tabs
----------------------------------------------------- */
.app-tabs-container { text-align:center; }
.app-tabs { display:inline-block; vertical-align:top; }
.app-tabs:after { @include ut-clear(); }
.app-tabs .app-tabs-tab { float:left; margin-left:-1px; padding:15px 30px; color:$color_f; border:1px solid $color_c; background:$color_b; cursor:pointer; }
.app-tabs .app-tabs-tab:hover { background:$color_a; text-decoration:none; }
.app-tabs .app-tabs-tab:first-child { margin-left:0; @include ut-border-radius(100px 0px 0px 100px) }
.app-tabs .app-tabs-tab:last-child { @include ut-border-radius(0 100px 100px 0) }
.app-tabs .app-tabs-tab.js-selected { background:$color_c; }

/* ----------------------------------------------------
            Optin
----------------------------------------------------- */
.app-optin { margin-bottom:40px; padding:30px; border:4px solid $color_g; background:$color_b; }

/* ----------------------------------------------------
            Display
----------------------------------------------------- */
.app-align-r { text-align:right; }
.app-align-c { text-align:center; }
.app-align-l { text-align:left; }
.app-rel { position:relative; }
.app-clear:after { content:""; display:block; clear:both; height:0; visibility:hidden; }
.app-vat { vertical-align:top; }

