<%# Header %>
<h1 class="app-header-h1-mast app-header-h1"><span class="app-header-h1-text">The LIVE 100 Dollar Bill Show: Someone Wins 100 Dollars Every Time!</span></h1>

<%# Intro %>
<div class="app-wrapper">
  <div class="app-container gr-container">
    <div class="app-section-header">The Facts</div>
    <div class="gr-row">
      <div class="gr-col-8 gr-col-offset-2">
        <section>
          <section>
            <p class="app-txt-l">Did you know each of your lectures (including the ones you text-through, fall asleep in, or just plain skip) costs you, on average, around 100 DOLLARS!!!</p>
            <p class="app-txt-l">Think of the last lecture you attended in college:</p>
            <p class="app-txt-l">Would you really pay 100 dollars to attend that lecture?</p>
            <p class="app-txt-l">Think about it this way:</p>
            <p class="app-txt-l">Would you pay that professor 100 dollars for an hour of their time outside of class!?</p>
            <p class="app-txt-l">The 100 Bill Show Will Teach You More (and give you more ROI than any single college lecture you’ve ever attended) and it’s FREE.  But signup is required and you can only participate (actively) in ONE of these shows.  Because we give away 100 dollars each time (and the answers of how to win the 100 dollars), it would be too easy to cheat the second time. </p>
          </section>
          <h2 class="app-align-c">Here's a brief introduction to the show:</h2>
          <section>
            <%== Shortcode.process("[audio id='1' file='funnels-take-action-action-based.mp3' type='bare']") %>
          </section>
          <p class="app-txt-l app-p-sm"><strong>Benefits of tuning in:</strong></p>
          <ul class="app-ul-fa fa-ul app-txt-l">
            <li><i class="app-fa fa-li fa fa-check color-g"></i>Discover the most fundamental sales lesson ever</li>
            <li><i class="app-fa fa-li fa fa-check color-g"></i>Instantly create more effective sales pitches and offers</li> 
            <li><i class="app-fa fa-li fa fa-check color-g"></i>Compete for the chance to win 100 dollars on the spot</li>
          </ul>
      </section>

      <%# Optin %>
      <div class="app-optin">
        <h2 class="app-align-c">New Episodes Air <br />The First Tuesday Of Every Month</h2>
        <p class="app-txt-l app-align-c">Next Episode To Be Released <br /><em>Tuesday, August 4th, 2015 at 11:00 AM</em></h2>
        <p class="app-align-c"><strong>Enter your email address here to be reminded.</strong></p>
        <div class="gr-row">
          <div class="app-field gr-col-6">
            <input type="text" class="app-input-l" placeholder="First name only" required />
          </div>
          <div class="app-field gr-col-6">
            <input type="text" class="app-input-l" placeholder="Email address" required data-parsley-type="email" />
          </div>
        </div>
        <input type="submit" value="I'm in!" class="app-btn-l app-btn-w app-btn" />
      </div> 
    </div>
  </div>
</div>